## TP 1 ANANI CHARLY   //          AGOSSOU MENDEL     //         HOUNTON SYLVESTRE

1. Prétraitement des données :
- Identifier et traiter les valeurs manquantes et les données bruitées.
- Supprimer les colonnes inutiles ou présentant des valeurs constantes.
- Réaliser une transformation des variables pour standardiser l’ensemble des
données.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [6]:
data_one = pd.read_csv('data.csv')
data_one.info()
data_one.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 44 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       72 non-null     float64
 1   B       72 non-null     object
 2   C       72 non-null     float64
 3   D       67 non-null     float64
 4   E       61 non-null     object
 5   F       72 non-null     float64
 6   G       72 non-null     float64
 7   H       72 non-null     float64
 8   I       72 non-null     float64
 9   J       44 non-null     float64
 10  K       72 non-null     float64
 11  L       72 non-null     float64
 12  M       73 non-null     float64
 13  N       72 non-null     float64
 14  O       72 non-null     float64
 15  P       72 non-null     float64
 16  Q       72 non-null     float64
 17  R       0 non-null      float64
 18  S       72 non-null     float64
 19  T       72 non-null     float64
 20  U       72 non-null     float64
 21  V       0 non-null      float64
 22  W       72 non-null     float64
 23  X       0 non-null      float64
 24  Y       72 non-null     float64
 25  Z       72 non-null     float64
 26  AA      72 non-null     float64
 27  AB      72 non-null     float64
 28  AC      72 non-null     float64
 29  AD      72 non-null     float64
 30  AE      72 non-null     float64
 31  AF      72 non-null     float64
 32  AG      72 non-null     float64
 33  AH      72 non-null     float64
 34  AI      72 non-null     float64
 35  AJ      72 non-null     float64
 36  AK      72 non-null     float64
 37  AL      72 non-null     float64
 38  AM      72 non-null     float64
 39  AN      72 non-null     float64
 40  AO      72 non-null     float64
 41  AP      72 non-null     float64
 42  AQ      72 non-null     float64
 43  AR      72 non-null     float64
dtypes: float64(42), object(2)
memory usage: 25.6+ KB

,A,C,D,F,G,H,I,J,K,L,...,AI,AJ,AK,AL,AM,AN,AO,AP,AQ,AR
count,7.200000e+01,72.000000,67.000000,72.000000,72.000000,72.000000,72.000000,44.000000,72.000000,72.000000,...,72.0,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.000000,72.0,72.000000
mean,8.068125e+07,409.055556,2.668209,3.894444,13.993056,19.973611,367.638889,381.522727,4.893056,383.763889,...,6.0,9.750000,53.611111,17.736111,63.194444,20.083333,71.527778,0.477778,920.0,337.861111
std,8.617592e+07,7.080799,4.058499,0.023067,0.470937,0.496181,9.454570,9.643623,0.102540,10.698813,...,0.0,0.967791,1.543323,0.787098,1.683716,0.496466,1.174521,0.041866,0.0,36.536420
min,2.017031e+07,390.000000,0.240000,3.800000,13.000000,19.000000,349.000000,367.000000,4.700000,341.000000,...,6.0,8.000000,51.000000,16.000000,60.000000,20.000000,70.000000,0.400000,920.0,34.000000
25%,2.017031e+07,410.000000,0.570000,3.900000,14.000000,19.725000,361.000000,374.750000,4.800000,379.000000,...,6.0,9.500000,52.000000,18.000000,61.750000,20.000000,71.000000,0.500000,920.0,339.750000
50%,2.017031e+07,410.000000,0.730000,3.900000,14.000000,20.000000,368.000000,381.500000,4.900000,382.500000,...,6.0,9.500000,54.000000,18.000000,63.000000,20.000000,71.000000,0.500000,920.0,341.000000
75%,2.017031e+08,410.000000,1.330000,3.900000,14.000000,20.500000,372.000000,387.000000,5.000000,389.250000,...,6.0,10.000000,55.000000,18.000000,65.000000,20.000000,72.000000,0.500000,920.0,345.000000
max,2.017031e+08,420.000000,11.300000,3.900000,15.000000,20.500000,392.000000,404.000000,5.100000,404.000000,...,6.0,15.000000,56.000000,20.000000,65.000000,23.000000,74.000000,0.500000,920.0,352.000000